* {
    font-family: 'Source Sans Pro', sans-serif;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    font-size: 18px;
    transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

body {
    overflow-x: hidden;
}

.navbar {
    margin: 0;
    margin-bottom: 0;
}


/*Jumbotron!!!!!!!!!!!!!!!!!!*/

.jumbotron.index {
    background-color: white;
    margin-bottom: 0;
    background-image: url('http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2014/9/24/1411568384485/Plymouth-Hoe-014.jpg');
    background-size: cover;
    background-position: topcenter;
    background-repeat: no-repeat;
    /*    background-attachment: fixed;*/
    min-height: 480px;
}

.jumbotron.service {
    background-color: white;
    margin-bottom: 0;
    background-image: url('https://placekitten.com/g/600/600');
    background-size: cover;
    background-position: topcenter;
    background-repeat: no-repeat;
    /*    background-attachment: fixed;*/
    min-height: 480px;
}

.jumbotron .container {
    position: relative;
    border: 20px;
    top: 66px;
    color: #fff;
    max-width: 100%;
}

.jumbotron h1 {
    font-size: 46px;
}

.jumbotron p {
    font-size: 40px;
}


/*----------------INDEX PAGE----------------*/

.show-case.index header {
    padding-top: 200px;
    padding-bottom: 200px;
    position: relative;
    text-align: center;
    background-color: cadetblue;
}

.thumbnail {
    border: none;
    margin-top: 20px;
    padding: 10px 10px 10px 10px;
}


/*----------------SERVICE PAGE----------------*/

.show-case.service header {
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    background-color: cadetblue;
}

.show-case.service .service-price {
    position: relative;
}

.service .list-left {
    position: relative;
    margin: 0;
    top: -100px;
    left: 20px;
    padding: 30px;
    /*
    border: 12px solid #B22222;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
*/
}

.service .list-right {
    position: relative;
    margin: 0;
    top: -100px;
    right: 20px;
    padding: 30px;
}


/*--------------------------------------------------*/


/*----------------RESPONSIVE DEVICES----------------*/


/*--------------------------------------------------*/


/* Custom, iPhone Retina */

@media only screen and (min-width: 320px) {
    .jumbotron {
        /*background-color: white;*/
        background-image: url('http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2014/9/24/1411568384485/Plymouth-Hoe-014.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        height: 550px;
    }
    .jumbotron .col-md-12 {
        position: relative;
        left: 40px;
        border: 20px;
        top: 320px;
        color: #fff;
    }
    .jumbotron h1 {
        font-size: 26px;
        color: #fff;
    }
    .jumbotron p {
        font-size: 18px;
        color: #fff;
    }
}


/* Extra Small Devices, Phones */

@media only screen and (min-width: 320px) {
    .jumbotron {
        /*background-color: white;*/
        background-image: url('http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2014/9/24/1411568384485/Plymouth-Hoe-014.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        height: 800px;
    }
    .jumbotron .col-md-12 {
        position: relative;
        left: 40px;
        border: 20px;
        top: 300px;
        color: #fff;
    }
    .jumbotron h1 {
        font-size: 28px;
        color: #fff;
    }
    .jumbotron p {
        font-size: 20px;
        color: #fff;
    }

    /*----------------SERVICE PAGE----------------*/
    .show-case.service header {
        padding-top: 200px;
        padding-bottom: 200px;
        text-align: center;
        background-color: cadetblue;
    }
    .show-case.service .service-price {
        position: relative;
        min-height: 635px;
    }
}


/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {}


/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {
    .jumbotron {
        height: 770px;
    }
}


/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {
    .jumbotron {
        /*background-color: white;*/
        background-image: url('http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2014/9/24/1411568384485/Plymouth-Hoe-014.jpg');
        background-size: cover;
        background-position: topcenter;
        background-repeat: no-repeat;
        background-attachment: fixed;
        height: 1000px;
    }
    .jumbotron .col-md-12 {
        position: relative;
        left: 30px;
        border: 20px;
        top: 180px;
        color: #fff;
    }
    .jumbotron h1 {
        font-size: 48px;
        color: #fff;
    }
    .jumbotron p {
        font-size: 40px;
        color: #fff;
    }
}
